<!-- StatCounter Visitor Chart
  Steps to activate:
  1. Go to https://statcounter.com and register a free account
  2. Create a project and add your site
  3. Get your project ID and security key
  4. Replace YOUR_PROJECT_ID and YOUR_SECURITY_KEY below
-->

{% if site.statcounter_project and site.statcounter_security %}
<script type="text/javascript">
var sc_project={{ site.statcounter_project }}; 
var sc_invisible=1; 
var sc_security="{{ site.statcounter_security }}";
</script>
<script type="text/javascript" src="https://www.statcounter.com/counter/counter.js" async></script>
<noscript>
  <div class="statcounter">
    <a href="https://statcounter.com/" title="free hit counter">
      <img src="https://c.statcounter.com/{{ site.statcounter_project }}/0/{{ site.statcounter_security }}/0/" alt="free hit counter">
    </a>
  </div>
</noscript>
{% endif %}
